body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}


/* /////////////кнопочки\\\\\\\\\\\\\\ */

.btn {
    display: inline-block;
    padding-top: 16px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
    vertical-align: middle;
    font: inherit;
    font-weight: 500;
    color: #000000;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    background-color: #eeeeee;
    border: 1 solid #eeeeee;
    border-radius: 3px;
    cursor: pointer;
}

.advantages__link--red {
    color: #ffffff;
    background-color: #fb565a;
}

.advantages__link--red:hover {
    background-color: #e74246;
}

.advantages__link--red:active {
    background-color: #d7373b;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.advantages__link--green {
    color: #ffffff;
    background-color: #00ca74;
}

.advantages__link--green:hover {
    background-color: #00bc6c;
}

.advantages__link--green:active {
    background-color: #00aa62;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.advantages__link--yellow {
    color: #ffffff;
    background-color: #efc84a;
}

.advantages__link--yellow:hover {
    background-color: #eab534;
}

.advantages__link--yellow:active {
    background-color: #e5a722;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.wrap-center {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* //////////////////nav\\\\\\\\\\\\\\\\\ */

.main-header {
    width: 100%;
    background-color: #eeeeee;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    text-transform: uppercase;
    justify-content: space-between;
    padding: 49px 20px 0 20px;
}

.nav__link {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    line-height: 30px;
}

.nav__link:hover {
    color: #fb565a;
}

.nav__link:active {
    color: rgba(0, 0, 0, 0.3);
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.nav__item {
    padding-right: 23px;
    padding-bottom: 0;
    padding-left: 23px;
}


/* .nav__link--card {
    padding-left: 500px;
} */


/* .nav__link--card-icon { */


/* /////////////slider\\\\\\\\\\\\\\\ */

.slider {
    position: relative;
    box-sizing: border-box;
    background-color: #eeeeee;
}

.slider__list {
    display: flex;
    list-style: none;
    margin-top: 0;
}

.slider__item {
    display: none;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
}

.slider__item--active {
    display: block;
    position: relative;
}

.slider__item--expensive {
    background-color: #eeeeee;
    background-image: url("../img/slider-picture1.png");
    background-position: 451px 11px;
    background-repeat: no-repeat;
}

.slider__item--math {
    background-color: #eeeeee;
    background-image: url("../img/slider-picture2.png");
    background-position: 451px 11px;
    background-repeat: no-repeat;
}

.slider__item--night {
    background-color: #eeeeee;
    background-image: url("../img/slider-picture3.png");
    background-position: 451px 11px;
    background-repeat: no-repeat;
}

.slider__title {
    width: 515px;
    padding-top: 56px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    color: #000000;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

.slider__description {
    padding-top: 26px;
    padding-right: 0;
    padding-bottom: 25px;
    padding-left: 0;
}

.slider__btn {
    margin-top: 14px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-right: 54px;
    padding-left: 55px;
    color: #ffffff;
    background-color: #fb565a;
}

.slider__item__btn {
    margin: 0;
    margin-top: 14px;
    padding-right: 54px;
    padding-left: 55px;
}

.slider__controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}


/* ////////////////advantages\\\\\\\\\\\\\\\\\\\\\ */

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

.advantages__title {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
}

.advantages__item {
    width: 300px;
}


/* //////////////////////about\\\\\\\\\\\\\\\\\\\\ */

.about {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.about__content {
    display: block;
    width: 650px;
}

.about__intro {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #000000;
}

.about__top-list {
    font-weight: bold;
    text-transform: uppercase;
}

.about__list {
    list-style: none;
}


/* ////////////////////partners\\\\\\\\\\\\\\ */

.partners {
    position: relative;
}

.partners__list {
    display: flex;
    padding-top: 46px;
    padding-right: 0;
    padding-bottom: 46px;
    padding-left: 0;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.partners__item {
    position: relative;
    flex-basis: 25%;
    flex-shrink: 1;
    flex-grow: 1;
    height: 100%;
    text-align: center;
}

.partners__item:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
}

.partners__item:last-child:after {
    display: none;
}


/* footer */

.footer {
    position: relative;
}

.contacts {
    width: 319px;
    height: 308px;
    display: inline-block;
    position: absolute;
    top: 54px;
    left: 140px;
    width: 319px;
    height: 308px;
    z-index: 1;
    box-sizing: border-box;
    margin-left: 20px;
    padding: 35px 50px 50px;
    background-color: #ffffff;
}

.contacts__title {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
}

.contacts__content,
.contacts__tel {
    width: 200px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}

.contacts__btn {
    font-style: normal;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.social__link {
    display: flex;
    width: 79px;
    height: 79px;
    align-items: center;
    justify-content: center;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin-right: 12px;
}

.social__link:hover,
.social__link:focus {
    background-color: #e74246;
}

.offer {
    display: flex;
    margin-left: auto;
    flex-direction: column;
}

.offer__appeal {
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 12px;
}

.offer__discount {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    margin-top: 0;
}


/* ////////////modal\\\\\\\\\\\\\\\ */

.modal {
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-top: 55px;
    padding-right: 100px;
    padding-bottom: 84px;
    padding-left: 100px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.feedback-form__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0;
}

.feedback-form__title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 49px;
}

.feedback-form__item {
    width: 360px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    flex-grow: 1;
}

.feedback-form__item--name,
.feedback-form__item--mail {
    width: 400px;
}


/* ////////////catalog\\\\\\\\\\\\\\ */

.store {
    display: flex;
}

.store-filter {
    width: 261px;
    margin-right: 10px;
}

.store-filter__heading {
    font-size: 18px;
    font-weight: bold;
}

.store-filter__selection {
    display: flex;
    flex-direction: column;
    border: none;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
}

.sorting {
    display: flex;
    border: solid 2px green;
    justify-content: space-between;
}

.sorting__list {
    display: flex;
    list-style: none;
}

.sorting__link {
    margin: 0;
    margin-right: 26px;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #000000;
    opacity: 0.3;
}

.site-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;
    border: solid 2px green;
}

.site-item {
    width: 360px;
    box-sizing: border-box;
}


/* otasdsadfasdf */

.map {
    width: 100%;
    height: auto;
}

.store-title {
    background-color: #eeeeee;
    text-align: center;
}

.catalog-title {
    padding: 116px;
    font-size: 55px;
}


/* pagination */

.paginator__list {
    display: flex;
    justify-content: left;
    list-style: none;
}

.paginator__item {
    margin-right: 15px;
}

.paginator__btn {
    padding: 15px 20px;
}