body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;

  background-color: white;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.header,
.preview-slider {
  background-color: #eeeeee;
}
.nav a {
  color: black;
}
.nav a:hover{
  color: #fb565a;
}
.nav a:active{
  color:  rgba(0, 0, 0, 0.3);
}
.nav-active a{
  text-decoration: underline;
  text-decoration: #fb565a;
}
.nav-list,
.basket,
.slider-list,
.about-list,
.partners-list,
.feedback-groups,
.social-item,
.site-item,
.service-list {
  list-style: none;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn-slider {
  color: white;
}
.service-list a{
  color: white;
  background-color: red;
}
